
/* Zuum theme bagde settings */
.badge {
    font-weight: 600;
    font-size: 11px;
    padding: 4px 4px;
}
.badge.badge-pill {
    border-radius: 0.25rem;
}
.badge-info {
    color: var(--theme-color);
    background-color: var(--theme-color-obs-3);
}
a.badge-info:hover, a.badge-info:focus {
    color: var(--theme-color-fff);
    background-color: var(--theme-color);
}
.badge-secondary {
    background-color: var(--theme-color-obs-3);
    padding: 0.4em;
}
