/* Theme Zuum blog scss */
.path-blog {
    .forumpost.blog_entry.blog .attachedimages img {
        padding: 0;
        height: 550px;
        width: 100%;
        object-fit: cover;
    }
    .addbloglink {
        margin-bottom: 30px;
        margin-top: 10px;
        display: inline-flex;
        font-weight: 600;
        background-color: var(--theme-color-f6f9fc);
        padding: .5rem .75rem;
        border: 1px solid var(--theme-color-e9ecef);
        border-radius: 8px;
        letter-spacing: .1px;
        transition: all 0.2s;
        a {
            text-decoration: none;
        }
    }
    .blog_entry .content { 
        margin: 0;
    }
    .blog_entry .audience {
        background-color: var(--theme-color-f6f9fc);
        border: 1px solid var(--theme-color-e9ecef);
        text-align: center;
        padding: 0.5rem 0.75rem;
        border-radius: 8px;
        font-weight: 600;
        display: inline-block;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .forumpost {
        padding: 30px;
        border-radius: 8px;
        margin-bottom: 24px;
    }
    .forumpost .subject {
        font-size: 24px;
    }
    .forumpost .author {
        padding-top: 24px;
        padding-bottom: 16px;
    }
    .forumpost .row .left {
        float: right;
        width: 43px;
    }
    .forumpost .row .topic {
        margin-left: 0;
    }
    .forumpost .content p {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .tag_list ul li > a {
        font-size: 80% !important;
        font-weight: 600;
        background-color: var(--theme-color-f6f9fc);
        padding: .5rem .75rem;
        border: 1px solid var(--theme-color-e9ecef);
        border-radius: 30px;
        line-height: 1;
        letter-spacing: .1px;
        transition: all 0.2s;
    }
    .tag_list ul li > a:hover, 
    .tag_list ul li > a:focus,
    .commands > a:hover,
    .mdl-left .comment-link:hover,
    .addbloglink:hover {
        color: var(--theme-color-0000ff);
        background-color: var(--theme-color-e9ecef);
    }
    .subject {
        a {
            text-decoration: none;
            &:hover {
                color: var(--theme-color-0000ff);
            }
        }
    }
    .tag_list ul li {
        margin: 0 5px;
    }
    .commands {
        color: var(--theme-color-ffffff);
        margin: 30px 0;
        a {
            border-radius: 8px;
            background-color: var(--theme-color-f6f9fc);
            padding: 0.5rem 0.75rem;
            border: 1px solid var(--theme-color-e9ecef);
            font-weight: 600;
            text-decoration: none;
        }
        > div {
            padding-bottom : 25px;
        }
    }
    .tag_list {
        padding: 15px 0;
        border-bottom: 1px solid var(--theme-color-e9ecef);
    }

    .comment-area textarea {
        margin: 15px 0px 0px;
        border-radius: 8px;
    }
    .mdl-left {
        margin-top: 25px;
        margin-bottom: 8px;
        padding-top: 25px;
        border-top: 1px solid var(--theme-color-e9ecef);
    }
    .mdl-left .comment-link {
        display: inline-flex;
        border-radius: 8px;
        background-color: var(--theme-color-f6f9fc);
        padding: 0.5rem 0.75rem;
        border: 1px solid var(--theme-color-e9ecef);
        font-weight: 600;
        text-decoration: none;
        align-items: baseline;
    }
}
.zuum-blog {
    padding: 0px;
    margin: 1em 0 1em 0;
    border: 0px solid var(--theme-color-dee2e6);
    border-radius: 5px 5px 0 0;
    .btn {
        margin: 2px 2px 2px 0;
    }
    p {
        margin: 15px 0;
    }
    .content {
        padding: 0px;
        margin-left: 0px;
    }
    .commands, .tag_list {
        padding: 0 15px;
        margin-bottom: 15px;
    }
    .tags {
        position: relative;
        margin: 0 15px 15px 15px;
        background: var(--theme-color-ops-3);
        background-size: auto;
        border-radius: 5px;
    }
    .comment-link {
        position: relative;
        display: inline-block;
        font-size: 13px; 
        font-weight: 600;
        text-align: center;
        vertical-align: baseline;
        padding: 7px;
        margin: 0 15px;
        border-radius: 0.25rem;
        color: var(--theme-color-fff);
        line-height: 1.5;
        letter-spacing: .025em;
        background-color: var(--theme-color-ops-8);
    }
    .comment-message {
        padding: 5px 18px 5px;
        border-radius: .375rem;
        .comment-message-meta .time {
            margin-left: 5px;
            opacity: 0.6;
        }        
    }
    .comment-list {
        font-size: 14px;
        img.userpicture {
            width: 24px;
            height: 24px;
            margin: 0 10px 0 18px;
        }
    }
    .user {
        margin-right: 5px;
        font-weight: 600;
    }
    .picture {
        width: auto;
        float: none;
    }
    .text {
        padding-top: 5px;
    }
    .comment-area, textarea {
        font-size: 14px;
        max-width: 100%;
        padding: 15px;
        padding-top: 5px;
        border-radius: 5px;
    }
}
.zuum-blog-img img{
    padding: 0px;
    height: $single-blog-img-height;  
    width: 100%;
    object-fit: cover;
}
.zuum-blog-header {
    position: absolute;
    bottom: 0;
    background: var(--theme-color-ops-2);
    width: 100%;
    padding: 20px 15px;
    font-size: 14px;
    font-weight: 600;
    a {
        color: var(--theme-color);
        &:hover {
            color: var(--theme-color-ops-8);
            text-decoration: none;
        }
    }
    .left{
        float: left !important;
        margin-top: -45px;
    }
    .topic{
        margin-left: 0px !important;
    }
}
.zuum-blog-date {
    font-size: 12px;
    padding: 0 15px 15px;
    opacity: 0.6;
}
.zuum-blog-post {
    border: 1px solid var(--theme-color-00000020);
    border-radius: 5px;
    .no-overflow .no-overflow {
        padding: 0 15px;
    }
}
.blog_entry .audience {
    background: var(--theme-color-ops-2);
    color: var(--theme-color);
    text-align: center;
    padding: 12px 0px;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
}
.block_blog_tags {
    .s20 {
        display: inline-grid;
        font-size: 90% !important;
        font-weight: 600;
        background-color: var(--theme-color-ops-3);
        margin-bottom: 4px;
        padding: 5px 7px;
        border: 1px solid var(--theme-color);
        border-radius: 5px;
        letter-spacing: .1px;
        transition: all 0.2s;
        text-decoration: none; 
        &:hover {
            background-color: var(--theme-color-ops-5);
        }
    }
    .card-text {
        text-align: center;
    }
}
.tag-top {
    background: var(--theme-color);
    color: var(--theme-color-ffffff);
    width: 100%;
    height: 40px;
    padding: 8px 8px;
    font-size: 13px;
    font-weight: 600;
}
.tags-single {
    padding: 5px 25px;
}
.addbloglink {
    font-weight: 600;
}
.path-blog {
    #page.drawers div[role="main"] {
        h2 {
            display: none;
        }
    }
}
