<div class="almond-page-content pb-5">
    {{!-- Course --}}
    <section id="page02" class="page02-1 page02-2 course-block">
        <!-- Header Banner -->
        <div class="almond-block page-banner
            {{#frontpagenavchoice2}} page-banner-padding-top {{/frontpagenavchoice2}}">
            <div class="rounded-3">
                <div class="page-banner-content">
                    <div class="container">
                        <div class="banner-image-1" 
                            {{#page02img}} style="background-image:url({{page02img}});"{{/page02img}}>                   
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <ul class="page-breadcrumb unordered-list">
                                        <li>
                                            <a href="?">{{#str}}home, moodle {{/str}}</a>
                                        </li>
                                        <li>
                                            <a href="#">{{#str}}pages, lesson {{/str}}</a>
                                        </li>
                                        <li>
                                            {{page02navbar}}
                                        </li>
                                    </ul>
                                    <h2 class="banner-big-title">{{page02maintitle}}</h2>
                                    <div class="banner-description"> {{page02explanation}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Banner End -->
        <!-- Course All -->
        <div class="container pb-5">
            <div class="text-center text-dark wow fadeInUp">
                <div class="heading-text">
                    {{page02headline}}
                </div>
                <h2 class="heading-description">
                    {{page02header}}
                </h2>
            </div>
            <div class="row g-4">
                <div id="btncontainer" class="col-lg-3 text-center">
                    <div class="category-border">
                        <button type="button" class="mb-1 btn fltactive" onclick="filterSelection('all')"> 
                            {{#str}}all, moodle{{/str}}
                            <span class="badge bg-dark">{{page02totalcourse}}</span>
                        </button>
                        {{#page02-ctgry}}
                        <button type="button" class="mb-1 btn" onclick="filterSelection('category-id-{{catagoryid}}')">
                            {{{catagoryname}}} <span class="badge bg-dark">{{coursecount}}</span>
                        </button>
                        {{/page02-ctgry}}
                    </div>
                </div>
                <div class="col-lg-9 float-start">
                    <div class="row g-4">
                        {{#page02}}
                        <div class="coursefilterdiv category-id-{{idcategory}} col-xl-4 col-lg-6">
                            <div class="card course-card h-100">
                                {{#page02imgenabled}}
                                <div class="course-image">
                                    <a href="{{courselink}}">
                                        <img src="{{imgurl}}" onerror="this.remove()" alt="course">
                                    </a>
                                </div>
                                {{/page02imgenabled}}
                                <div class="card-content">
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <ul class="course-category-list unordered-list">
                                            <li>
                                                <a href="{{categorylink}}" data-bs-toggle="tooltip" data-placement="top" 
                                                    title="{{#str}}category, moodle{{/str}}">
                                                    {{{categoryName}}}
                                                </a>
                                            </li>
                                        </ul>
                                        {{#page02priceshow}}
                                        <div class="course-price">
                                            <span class="sale-price">{{cost}} {{currency}}</span>
                                        </div>
                                        {{/page02priceshow}}
                                    </div>
                                    <div class="row g-0 course-info-list unordered-list">
                                        <div class="col-md-3 teacher-info" data-bs-toggle="tooltip" data-placement="top" 
                                            title="{{#str}}defaultcourseteacher, moodle{{/str}} : {{{teachername}}}">
                                            {{#userpictureURL}}
                                            <a href="{{teacherlink}}">
                                                <img src="{{userpictureURL}}" alt="user">
                                            </a>
                                            {{/userpictureURL}}
                                        </div>
                                        <div class="col-md-9 text-end">
                                            <i class="fa fa-user"></i> 
                                            <span data-bs-toggle="tooltip" data-placement="top" 
                                                title="{{#str}}existingstudents, moodle{{/str}}">
                                                {{studentscount}}
                                            </span>
                                            <i class="fa fa-calendar "></i> 
                                            <span data-bs-toggle="tooltip" data-placement="top" 
                                                title="{{#str}}lastmodified, moodle{{/str}}">
                                                {{update}}
                                            </span>
                                        </div>
                                    </div>
                                    <h4 class="card-title text-truncate-2 mb-3">
                                        <a href="{{courselink}}">
                                            {{#page02shortname}}{{{shortname}}}{{/page02shortname}}
                                            {{#page02fullname}}{{{fullname}}}{{/page02fullname}}
                                        </a>
                                    </h4>
                                    <a class="btn-unfill" href="{{courselink}}">
                                        <span class="btn-text">{{#str}}viewcourse, block_timeline{{/str}}</span>
                                        <span class="btn-icon">
                                            <i class="fa-solid fa-long-arrow-right"></i>
                                            <i class="fa-solid fa-long-arrow-right"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{/page02}}   
                    </div>
                </div>    
            </div>
        </div>  
    </section>
</div>
<script src="theme/zuum/js/coursefilter.js"></script>
