<!-- PAGES -->
{{#frontpagepage1}}
    {{> theme_zuum/frontpage/pages/1-about_1}}
{{/frontpagepage1}}
{{#frontpagepage2}}
    {{> theme_zuum/frontpage/pages/2-courses_1}}
{{/frontpagepage2}}
{{#frontpagepage3}}
    {{> theme_zuum/frontpage/pages/3-courses_1}}
{{/frontpagepage3}}
{{#frontpagepage4}}
    {{> theme_zuum/frontpage/pages/4-teachers_1}}
{{/frontpagepage4}}
{{#frontpagepage5}}
    {{> theme_zuum/frontpage/pages/5-teachers_1}}
{{/frontpagepage5}}
{{#frontpagepage6}}
    {{> theme_zuum/frontpage/pages/6-contact_1}}
{{/frontpagepage6}}
<!-- END PAGES -->
