/*Aside bar*/
.aside_bar {
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    z-index: 1998;
    transition: .5s cubic-bezier(.77, 0, .175, 1);
    overflow: auto;
    padding: 30px;
    overflow-x: hidden;
    .navbar-brand {
        display: block;
        min-height: 50px;
        padding-top: 10px;
        padding-bottom: 0;
        margin-right: 0;
        font-size: 1.171875rem;
        line-height: inherit;
        white-space: nowrap;
        text-align: center;
    }
    ul {
        list-style-type: none;
    }
    &.aside_bar_left {
        right: auto;
        left: -400px;
        width: 400px;
        &.aside_mobile {
            right: auto;
            left: -300px;
            width: 300px;
        }
        &.open {
            right: auto;
            left: 0;
            +.aside-overlay {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &.aside_mobile {
        padding: 0;
        ul {
            .menu-item { 
                a {
                    padding: 10px 15px;
                    display: flex;
                    justify-content: space-between;
                    //color: $navbarlinkcolor;
                    color: var(--zm-navbar-link-color);
                    font-weight: 500;
                    border-bottom: none;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 16px;
                    align-items: baseline;
                }
            }
        }
        .menu-item-has-children>.sub-menu>li.menu-item-has-children>.sub-menu,
        .menu-item-has-children>.sub-menu {
            position: relative;
            display: none;
            opacity: 1;
            visibility: visible;
            width: 100%;
            box-shadow: none;
            left: 0;
        }
        .menu-item-has-children>.sub-menu>li.menu-item-has-children>a:after {
            position: relative;
            transform: none;
            right: 0;
        }
    }
    .logo {
        max-height: 35px;
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;
        img {
            max-width: 180px;
        }
    }
    .sidebar {
         .sidebar_widget {
            padding: 0;
            background: transparent;
            box-shadow: none;
            border-radius: 0;
        } 
    }
    a:hover {
        text-decoration: none;
    }
  
}

/* Navbar */
#navheader-2.navbar {
    box-shadow: none;
    .nav-link {
        display: flex;
        align-items: center;
    }
    .usermenu .dropdown,
    .langmenu .dropdown {
        display: flex;
        align-items: center;
        height: 100%;
        .dropdown-toggle {
            padding-top: 0;
            padding-bottom: 0;
            border-radius: 0;
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
    .usermenu .dropdown-menu {
        min-width: 235px;
    }
}
.navbar-2 {
    padding: 0.5rem 1rem !important;
}
.navbar-1,
.navbar-2 {
    font-size: 18px;
    font-weight: 500;
    .head_actions {
        .head_trigger {
            width: 45px;
            height: 32px;
            margin-left: 1px;
            position: relative;
            span {
                width: 100%;
                height: 2px;
                background-color: $navbarlinkcolor;
                display: block;
                margin-bottom: 8px;
                transition: 0.3s all;
                position: relative;
                &:nth-child(2) {
                    width: calc(100% - 20%);
                    left: 20%;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &:hover span:nth-child(2) {
                width: 100%;
                left: 0%;
            }
            &.mobile_trigger {
                display: none;
            }
        }
        button {
            background-color: transparent;
            border: none;
        }
    }
}

.menu-item-has-children>a {
    &:after {
        display: inline-block;
        font-family: "Font Awesome 6 Free";
        margin-left: 0.55em;
        content: "\f061";
        height: 15px;
        font-size: 20px;
    }
    &.a-active:after {
        content: "\f063";
    }
}

#navheader.navbar-transparent {
    background: transparent;
    border-bottom: none;
    .border-left {
        border-left: none !important;
    }
    .divider {
        width: 0px;
    }
}

.dir-rtl .dropdown-menu { 
    text-align: right;
}
@media (max-width: 991px) {
    .mobile_trigger {
        display: block !important;
    }
}
