<div class="offcanvas {{^rtl}}offcanvas-end{{/rtl}} {{#rtl}}offcanvas-start{{/rtl}}"
    tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body login-container">
    <!-- End Slider Area -->
        {{> core/loginform}}
    </div>
</div>