.scrollToTop {
  background-color: var(--theme-color-fff);
  border: 1px solid var(--theme-color-f2f2f2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  color: var(--theme-color-0000ff);
  cursor: pointer; 
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: all 0.15s ease;

  &:after {
    content: "";
    border: solid var(--theme-color-0000ff);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-135deg);
  }

  &.showBtn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  #progress-bar {
    --scrollAmount: 0px;

    & svg {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 50px;
      max-height: 50px;
      transform: rotate(90deg);

      & path {
        stroke-width: 0.15em;
        stroke-dasharray: 154;
        stroke-dashoffset: calc(-154px + var(--scrollAmount));
        animation-fill-mode: forwards;
      }
    }
  }
}
